# Ignore all raw resources
Ressourcen/
*.ARW

# Dependencies & Local tools
node_modules/
package-lock.json

# System & OS Files
.DS_Store
Thumbs.db
desktop.ini

# Video Archive (raw/large master files)
assets/videos/archive/
